<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /dashboard/
  
  # Redirect everything to index.html
  RewriteRule ^index\\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /dashboard/index.html [L] 
</IfModule>

# Ensure PHP version is set correctly
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>`